APP_ENV=dev
APP_NAME='dbvisor-agent'
APP_SECRET=

APP_SERVICE_URL=db-manager.bridge2.digital
APP_SERVICE_WORKSPACE=
APP_SERVICE_TOKEN=

APP_SERVER_UUID=
APP_SERVER_SECRET_KEY=

# Backup Configurations
BACKUP_PATH='.'

DBM_TOKEN=

# Directory with configurations
APP_CONFIG_PATH=''

# Directory with dumps
APP_DUMP_PATH=''

# Docker Configurations
APP_DOCKER_USE=0
APP_DOCKER_SERVER_URL=
APP_DOCKER_PATH_DUMP=''
APP_DOCKER_PATH_CONFIG=''
APP_DOCKER_HTTP_PORT=8088
APP_DOCKER_HTTPS_PORT=8443
APP_DOCKER_HTTP3_PORT=8443
APP_DOCKER_LOCAL_BACKUPS_PATH=''
CADDY_DEBUG=

# Path to files with public and private keys
SECRET_KEY_PRIVATE=
SECRET_KEY_PUBLIC=