# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=9240f159ac991e85598420a53ed3bc39
###< symfony/framework-bundle ###

APP_SERVICE_URL=
APP_SERVICE_WORKSPACE=
APP_SERVICE_TOKEN=

APP_SERVER_UUID=
APP_SERVER_SECRET_KEY=

DATABASE_USER=
DATABASE_PASSWD=
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_ENGINE=

# to use mariadb:
DATABASE_URL=

# Backup Configurations
BACKUP_PATH='.'

WORK_DB_USER=root
WORK_DB_PASSWORD=12345
WORK_DB_HOST=localhost
WORK_DB_PORT=3361


DBM_TOKEN=
APP_KEY_PATH=/app/config/keys
APP_DUMP_PATH=/app/dumps/processed

# Directory with configurations
CONFIG_PATH=''