APP_ENV=prod
APP_NAME='veildb-agent'
APP_SECRET=

APP_SERVICE_URL=app.veildb.com
APP_SERVICE_WORKSPACE=
APP_SERVICE_TOKEN=
APP_SERVICE_SECURE=1

APP_SERVER_UUID=
APP_SERVER_SECRET_KEY=

# Backup Configurations
BACKUP_PATH='.'

DBM_TOKEN=

# Directory with configurations
APP_CONFIG_PATH=''

# Directory with dumps
APP_DUMP_PATH=''

# Docker Configurations
APP_DOCKER_USE=0
APP_DOCKER_SERVER_URL=
APP_DOCKER_PATH_DUMP=''
APP_DOCKER_PATH_CONFIG=''
APP_DOCKER_HTTP_PORT=8088

#APP_DOCKER_HTTPS_PORT=8443
#APP_DOCKER_HTTP3_PORT=8443
APP_DOCKER_LOCAL_BACKUPS_PATH=''

# Path to files with public and private keys
# In case docker uses it must started from /app/... , ex: /app/config/keys
SECRET_KEY_PRIVATE=
SECRET_KEY_PUBLIC=

LOG_LEVEL=info
GZIP_ENABLED=1