# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

APP_SERVICE_URL=
APP_SERVICE_WORKSPACE=
APP_SERVICE_TOKEN=

APP_SERVER_UUID=
APP_SERVER_SECRET_KEY=

# Backup Configurations
BACKUP_PATH='.'

DBM_TOKEN=

# Directory with configurations
APP_CONFIG_PATH=''

# Directory with dumps
APP_DUMP_PATH=''

# Docker Configurations
APP_DOCKER_SERVER_URL='db-manager-server.local'
APP_DOCKER_PATH_DUMP=''
APP_DOCKER_PATH_CONFIG=''

# Path to files with public and private keys
SECRET_KEY_PRIVATE=
SECRET_KEY_PUBLIC=

# Symfony JWT Secret Keys
CADDY_MERCURE_JWT_SECRET=