version: '3.7'

services:
  # -------------- #
  # -- Database -- #
  # -------------- #
  veildb-mariadb:
    image: mariadb:${MARIA_DB_VERSION:-latest}
    container_name: ${IMAGES_PREFIX:-}veildb-mariadb
    command: --max_allowed_packet=64M
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD:-root}
      MYSQL_TCP_PORT: ${DATABASE_PORT:-3306}
    ports:
      - ${DATABASE_PORT:-3306}:${DATABASE_PORT:-3306}
    expose:
      - ${DATABASE_PORT:-3306}
    init: true
    networks:
      - veildb-network

networks:
  veildb-network:
    external: true
    name: veildb-network